# Example CMakeLists.txt snippet for using pixel-art icons
# Replace the RESOURCES section in the main CMakeLists.txt with this
# to use the 8-bit pixel art icon set

# Pixel Art Icons (8-bit style)
RESOURCES
    fonts/materialdesignicons-webfont.ttf
    icons/pixel-art/select.svg
    icons/pixel-art/erase.svg
    icons/pixel-art/single_bond.svg
    icons/pixel-art/double_bond.svg
    icons/pixel-art/triple_bond.svg
    icons/pixel-art/up_bond.svg
    icons/pixel-art/down_bond.svg
    icons/pixel-art/updown_bond.svg
    icons/pixel-art/benzene.svg
    icons/pixel-art/clear.svg
    icons/pixel-art/undo.svg
    icons/pixel-art/redo.svg
    icons/pixel-art/copy.svg
    icons/pixel-art/cut.svg
    icons/pixel-art/paste.svg
    icons/pixel-art/save.svg
    icons/pixel-art/open.svg
    icons/pixel-art/fit.svg
    icons/pixel-art/copy_image.svg
    icons/pixel-art/smiles_in.svg
    icons/pixel-art/biopolymer.svg
    icons/pixel-art/select-fragment.svg
    icons/pixel-art/template-0.svg
    icons/pixel-art/template-2.svg
    icons/pixel-art/template-3.svg
    icons/pixel-art/template-4.svg
    icons/pixel-art/template-5.svg
    icons/pixel-art/charge-plus.svg
    icons/pixel-art/charge-minus.svg
    icons/pixel-art/period-table.svg
    icons/pixel-art/generic-groups.svg
    icons/pixel-art/template-lib.svg
    icons/pixel-art/reaction-arrow-open-angle.svg
    icons/pixel-art/reaction-arrow-multitail.svg
    icons/pixel-art/reaction-plus.svg
    icons/pixel-art/reaction-map.svg
    icons/pixel-art/reaction-arrow-filled-triangle.svg
    icons/pixel-art/reaction-arrow-retrosynthetic-arrow.svg
    icons/pixel-art/reaction-arrow-equilibrium-filled-triangle.svg
    icons/pixel-art/reaction-arrow-equilibrium-filled-half-bow.svg
    icons/pixel-art/reaction-arrow-elliptical-arc-arrow-filled-triangle.svg
    icons/pixel-art/chain.svg
    icons/pixel-art/text.svg
    icons/pixel-art/transform-rotate.svg
    icons/pixel-art/transform-flip-h.svg
    icons/pixel-art/transform-flip-v.svg
    icons/pixel-art/zoom-in.svg
    icons/pixel-art/zoom-out.svg
    icons/pixel-art/hand.svg
    icons/pixel-art/select-lasso.svg
    icons/pixel-art/layout.svg
    icons/pixel-art/clean.svg
    icons/pixel-art/check.svg
    icons/pixel-art/search.svg
    icons/pixel-art/settings.svg
    icons/pixel-art/about.svg
    icons/pixel-art/add-image.svg
    icons/pixel-art/analyse.svg
    icons/pixel-art/arom.svg
    icons/pixel-art/dearom.svg
    icons/pixel-art/explicit-hydrogens.svg
    icons/pixel-art/rgroup-label.svg
    icons/pixel-art/file-thumbnail.svg
    icons/pixel-art/3d.svg
    icons/pixel-art/3d-white.svg
    icons/pixel-art/angstrom.svg
    icons/pixel-art/antisense-strand.svg
    icons/pixel-art/any-atom.svg
    icons/pixel-art/approximately-equal.svg
    icons/pixel-art/atoms.svg
    icons/pixel-art/atoms-white.svg
    icons/pixel-art/arrange-ring.svg
    icons/pixel-art/arrows-left.svg
    icons/pixel-art/arrows-right.svg
    icons/pixel-art/arrows-up-down.svg
    icons/pixel-art/arrow-upward.svg
    icons/pixel-art/bond-any.svg
    icons/pixel-art/bond-aromatic.svg
    icons/pixel-art/bond-crossed.svg
    icons/pixel-art/bond-dative.svg
    icons/pixel-art/bond-doublearomatic.svg
    icons/pixel-art/bond-down.svg
    icons/pixel-art/new-file.svg
    icons/pixel-art/copy_image.svg
    icons/pixel-art/smiles_in.svg
